[DEFAULT]
ConnectionType=initiator
HeartBtInt=30
ReconnectInterval=10
FileStorePath=store
FileLogPath=log
#LogFactory=quickfix.slf4j.SLF4JLogFactory
StartTime=00:00:00
EndTime=23:59:59
UseDataDictionary=Y
DataDictionary=FIX44.xml
TimeZone=America/New_York
BeginString=FIX.4.4
ResetSeqNumFlag=Y

#----------------
# Session-1
#----------------
[SESSION]
SenderCompID=FCMQA1
TargetCompID=BBGQA
SocketConnectPort=9877
SocketConnectHost=127.0.0.1
#SocketConnectHost=localhost

#----------------
# Session-2
#----------------
[SESSION]
SenderCompID=FCMQA2
TargetCompID=BBGQA
SocketConnectPort=9877
SocketConnectHost=127.0.0.1